# Backend - Django
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/
backend/static/

# Frontend - React (já tem o próprio, mas reforçamos)
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
